.msjPropios{
	background-color: blue;
	padding: 2px;
	height: auto;
}

/*.chat{
	height: 75vh;
}*/
.Tenorio{
	width: 40vw;
	/*border-radius: 25px;*/
}
.Goofy{
	width: 25vw;
}
.Recorte{
	 width:38%;
	 height: 39%;
	/*clip-path: circle(%);*/
}
.perfil{
	width: 6vw;
	height: 6vh;
	clip-path: circle(25%);
}
.Carlos{
	width:100%;
	 height: 100%;
}	 
.Color{
	background-color:rgb(240, 240, 240);
}
.Cuerpo{
	background-image: url("../Imagenes/Fondo.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
}
.Mfondo{
  background-image: url("../Imagenes/fondow.jpg");
  }
.fotoPerfil {
	width: 3vw;
	height: 3vw;
	padding-left: 0px;
	clip-path: circle(35%);
}
.Printer{
	background-color: rgba(0,185,255,0.4);
}
p.groove {border-style: groove;}

.social-icons i {
  font-size: 34px;
}
.perfit{
    width: 5vw;
	height: 5vh;
	clip-path: circle(35%);
}
 
 @media (max-width: 1023px) {
 	
 	.Picono{
 		display: none;
 	}
    .Kevick{
    	display: none;
    }  
    #Notificacion{
    	display: none;
    }
 	.col-sm-8 { 
 		display: none;
 		 }
    .col-sm-4 {
 	}
 	.Cuerpo {
 		background-image: none;
    }
    
 }
@media (min-width: 1023px) {
	.Flecha {
     display: none;
	}

}
@keyframes mymove {
  from {left: 300px;}
  to {left: 0px;}
}
.entradaAnimada{
	position: relative;
	animation: mymove 0.5s;
	animation-timing-function: ease-out;
}
@keyframes mymoveR {
  from {right: 300px;}
  to {right: 0px;}
}
.entradanani{
	position: relative;
	animation: mymoveR 0.5s;
	animation-timing-function: ease-out;
}

